@import '../../Styles/variables.scss';
@import '../../Styles/globalStyles.scss';
.contactUs__container {
    padding: 100px 30px;
    margin: 0 30px;
    .map {
        iframe {
            width: 100%;
        }
    }
    .tellUs_about {
        display: flex;
        @media (max-width: 780px) {
            flex-direction: column;
        }
        .left-side {
            flex: 1;
            h3 {
                font-size: 50px;
                color: $secondary-dark;
            }
            .contact-infos {
                display: flex;
                padding-top: 30px;
                @media (max-width: 480px) {
                    flex-direction: column;
                }
                .info {
                    width: 100%;
                    h5 {
                        font-size: 27px;
                        margin: 25px 0 0;
                        padding: 0 0 15px;
                        color: $secondary-dark;
                    }
                    a {
                        display: block;
                        text-decoration: none;
                        color: #666a80;
                        transition: color $transition;
                        margin: 20px 0;
                        font-weight: 500;
                        &:hover {
                            color: $primary;
                        }
                        svg {
                            margin-right: 15px;
                        }
                    }
                }
            }
            .follow_links {
                h6 {
                    font-size: 18px;
                    margin: 25px 0 0;
                    color: $secondary-dark;
                }
                .icons {
                    margin-top: 20px;
                    svg {
                        width: 20px;
                        height: 20px;
                        padding: 15px;
                        border: 2px solid $secondary;
                        color: $secondary;
                        border-radius: 50%;
                        margin-right: 20px;
                        background-color: transparent;
                        cursor: pointer;
                        transition: color $transition, background-color $transition;
                        &:hover {
                            color: $white;
                            background-color: $secondary;
                        }
                    }
                }
            }
        }
        .right-side {
            flex: 1;
            .form {
                form {
                    padding: 0 20px;
                    margin: 0 20px;
                    @media (max-width: 991px) {
                        display: block;
                        width: 100%;
                        padding: 0 35px;
                        margin: 20px 0;
                    }
                    input {
                        position: relative;
                        width: 100%;
                        margin: 0 0 30px;
                        padding: 13px 0 0;
                        font-family: inherit;
                        font-size: 15px;
                        font-weight: inherit;
                        line-height: calc(58px - (13px * 2) - 2px);
                        color: #08104d;
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid #666a80;
                        border-radius: 0;
                        outline: 0;
                        -webkit-appearance: none;
                        -webkit-transition: border-color 0.2s ease-in-out;
                        -moz-transition: border-color 0.2s ease-in-out;
                        transition: border-color 0.2s ease-in-out;
                        color: #666a80;
                    }

                    .button__arrows {
                        background-color: $secondary-dark;
                        span {
                            color: $white;
                            &::before,
                            &::after {
                                background-image: url('../../assests/images/arrow-white.svg');
                            }
                        }
                    }
                }
            }
        }
    }
}
