@import '../../../../Styles/variables.scss';

.contact-container {
    padding-bottom: 100px;
    width: 100%;
    background-color: $primary;
    .sectionHeading {
        padding: 110px 10% 45px;
        .sectionName,
        .headingParag {
            color: $white;
        }
    }
    .contact-container-content {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 991px) {
            flex-direction: column;
        }
        .addresses {
            flex: 1;
            display: flex;
            justify-content: center;
            @media (max-width: 480px) {
                flex-direction: column;
            }
            .new-york {
                margin: 0 25px;
                h6 {
                    font-size: 27px;
                    color: $white;
                    margin: 10px 0 20px;
                }
                .icons {
                    display: flex;
                    color: $white;
                    svg {
                        width: 20px;
                        height: 20px;
                        background-color: transparent;
                        border: 2px solid #e04332;
                        border-radius: 50%;
                        padding: 15px;
                        margin-right: 20px;
                        transition: color $transition, background-color $transition;
                        cursor: pointer;
                        &:hover {
                            color: $primary;
                            background-color: $white;
                            border-color: $primary;
                        }
                    }
                }
                .contact-list {
                    ul {
                        li {
                            list-style: none;
                            padding: 10px 0;
                            color: $white;
                            a {
                                color: $white;
                                text-decoration: none;
                            }
                            span {
                                margin-left: 15px;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
        .form {
            flex: 1;
            form {
                display: flex;
                flex-direction: column;
                padding: 20px;
                margin: 20px;
                @media (max-width: 991px) {
                    display: block;
                    width: 100%;
                    padding: 0 35px;
                    margin: 20px 0;
                }
                input {
                    position: relative;
                    width: 100%;
                    margin: 0 0 30px;
                    padding: 13px 0 0;
                    font-family: inherit;
                    font-size: 15px;
                    font-weight: inherit;
                    line-height: calc(58px - (13px * 2) - 2px);
                    color: #08104d;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid;
                    border-radius: 0;
                    outline: 0;
                    cursor: text;
                    -webkit-appearance: none;
                    box-sizing: border-box;
                    -webkit-transition: border-color 0.2s ease-in-out;
                    -moz-transition: border-color 0.2s ease-in-out;
                    transition: border-color 0.2s ease-in-out;
                    color: #fa9589;
                    border-color: rgba(250, 116, 101, 1);
                    &::placeholder {
                        color: rgba(250, 116, 101, 1);
                    }
                    &:focus {
                        &::placeholder {
                            color: $white;
                        }
                        color: $white;
                        border-color: rgba(255, 255, 255, 1);
                    }
                }
                a.button__arrows {
                    width: fit-content;
                }
            }
        }
    }
}
