@import '../../../../Styles/variables.scss';
@import '../../../../Styles/globalStyles.scss';

.solution_container {
    padding: 124px 40px;
    .solutions {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 40px;
        gap: 100px;
        @media (max-width: 991px) {
            flex-direction: column;
        }
        .left-side {
            flex: 1;
            .row {
                padding: 15px 0;
                p {
                    font-size: 13px;
                    letter-spacing: 0.02em;
                    color: #666a80;
                    margin: 10px 0;
                    line-height: 24px;
                }
                .slide {
                    position: relative;
                    margin-top: 15px;
                    .percentage-badge {
                        position: absolute;
                        bottom: 15px;
                        left: 0%;
                        transform: translateX(-54%);
                        padding: 7px 15px;
                        background-color: blue;
                        color: $white;
                        border-radius: 5px;
                        font-size: 13px;
                        span.carret {
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 5px 6px 0;
                            margin: 0;
                            position: absolute;
                            bottom: -5px;
                            left: calc(50% - 6px);
                        }
                        .perc-num {
                            text-align: center;
                            &::after {
                                content: '%';
                            }
                        }
                    }
                    .backdrop {
                        position: relative;
                        height: 6px;
                        overflow: hidden;
                        background-color: #ecf3ff;
                        border-radius: 3px;
                        width: 100%;
                        .fill {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 0%;
                            height: 6px;
                        }
                    }
                }
            }
        }
        .right-side {
            flex: 1;
            h3 {
                color: $secondary-dark;
                font-size: 50px;
            }
            p {
                color: #666a80;
                font-size: 15px;
                margin-top: 19px;
                font-weight: 500;
            }
            a.button__arrows {
                background-color: $primary;
                color: $white;
                span {
                    &::after,
                    &::before {
                        background-image: url('../../../../assests/images/arrow-white.svg');
                    }
                }
            }
        }
    }
}
