@import '../../Styles/variables.scss';
@import '../../Styles/globalStyles.scss';
.user-card {
    border: 1px solid #eee;
    width: 250px;
    padding: 30px;
    a.button__arrows {
        background-color: $secondary-dark;
        color: $white;
        padding: 10px 17px;
        margin: 7px 0px;
        border-radius: 5px;
        span {
            &::after,
            &::before {
                background-image: url('../../assests/images/arrow-white.svg');
            }
        }
    }
}
