@import '../../../../Styles/variables.scss';

header.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 160px;
    background-color: $primary;
    @media (max-width: 991px) {
        padding: 100px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .left-section {
        flex: 1;
        img {
            width: 90%;
        }
    }
    .right-section {
        flex: 1;
        h1 {
            font-size: 80px;
            color: $white;
            line-height: 0.8;
            @media (max-width: 480px) {
                margin-bottom: 20px;
            }
        }
        p {
            font-size: 18px;
            color: $white;
            font-weight: bold;
            line-height: 26px;
            padding: 40px 0;
            @media (max-width: 480px) {
                display: none;
            }
        }
        .buttons {
            a.button__arrows {
                margin-right: 20px;
                &:first-of-type {
                    background-color: $white;
                }
                &:last-of-type {
                    background-color: #08104d;
                    color: $white;
                    span {
                        &::after,
                        &::before {
                            background-image: url('../../../../assests/images/arrow-white.svg');
                        }
                    }
                }
            }
        }
    }
}
