:root {
    --primary-hue: 6;
    --primary-saturation: 100%;
    --primary-light: 61%;
    --primary-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-light));

    --secondary-hue: 233;
    --secondary-saturation: 67%;
    --secondary-light: 42%;
    --secondary-color: hsl(var(--secondary-hue), var(--secondary-saturation), var(--secondary-light));

    --secondary-color-dark: hsl(var(--secondary-hue), calc(var(--secondary-saturation) + 20%), calc(var(--secondary-light) - 17%));

    --white-color: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$primary: var(--primary-color);
$secondary: var(--secondary-color);
$secondary-dark: var(--secondary-color-dark);
$white: var(--white-color);

$transition: 0.5s;
