@import '../../../../Styles/variables.scss';

.trustedClients {
    background-color: $primary;
    .sectionHeading .sectionName,
    .sectionHeading .headingParag {
        color: #fff;
    }

    .carousel-container {
        padding: 0 180px 100px;
        position: relative;
        .item {
            margin: 10px;
            height: 75px;
            position: relative;
            bottom: 0;
            transition: all $transition - 0.2;
            &:hover {
                bottom: 100%;
            }
        }
    }
}
