@import '../../../../Styles/variables.scss';

.trustedClients {
    background-color: $primary;
    .sectionHeading .sectionName,
    .sectionHeading .headingParag {
        color: #fff;
    }

    .carousel-container {
        padding: 0 180px 100px;
        position: relative;
        .item {
            margin: 10px 0;
            height: 75px;
            position: relative;
            top: -100%;
            cursor: pointer;
            transition: all $transition - 0.2;
            &:hover {
                top: 0;
            }
        }
    }
}
