@import '../../Styles/variables.scss';
@import '../../Styles/globalStyles.scss';
nav.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: rgba(255, 255, 255, 0);
    padding: 0 40px;
    z-index: 9999;
    position: absolute;
    width: 100%;
    @media (max-width: 1024px) {
        background-color: $white;
    }
    .logo {
        width: 20%;
        color: $white;
        @media (max-width: 1024px) {
            color: $secondary-dark;
        }
    }
    .navigation {
        ul {
            display: flex;
            margin: 0;
            z-index: 9;
            li {
                list-style: none;
                a {
                    position: relative;
                    text-decoration: none;
                    color: $white;
                    padding: 0 28px;
                    font-weight: bold;
                    transition: color $transition;
                    display: flex;
                    align-items: center;
                    svg {
                        fill: $white;
                    }
                    &.isActive {
                        color: $secondary;
                        svg {
                            display: flex;
                            fill: $secondary-dark;
                            opacity: 1;
                            transform: translateX(-10px);
                        }
                    }
                }
                &:hover {
                    a {
                        color: $secondary;
                        svg {
                            fill: $secondary-dark;
                        }
                    }
                }
            }
            @media (max-width: 1024px) {
                flex-direction: column;
                position: absolute;
                top: 75px;
                left: 0;
                padding: 0 20px;
                width: 100%;
                background-color: $white;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                transition: clip-path $transition ease-out;
                &.toggled {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
                li {
                    border-bottom: 1px solid #eee;
                    a {
                        color: $secondary;
                        padding: 20px;
                        &.isActive {
                            color: $primary;
                            svg {
                                display: none;
                            }
                        }
                        svg {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .right-side-buttons {
        display: flex;
        button {
            height: 60px;
            width: 60px;
            background-color: transparent;
            border-radius: 50%;
            padding: 14px;
            font-size: 20px;
            cursor: pointer;
            color: $white;
            border: 2px solid #e04332;
            margin: 7px;
            transition: border-color $transition;
            &:last-of-type {
                background-color: $white;
                color: black;
                border: 0;
            }
            &:hover {
                border-color: $white;
            }
        }
        @media (max-width: 1024px) {
            display: none;
        }
    }

    .expanded-button {
        height: 60px;
        width: 60px;
        background-color: transparent;
        border-radius: 50%;
        padding: 14px;
        font-size: 20px;
        cursor: pointer;
        margin: 7px;
        background-color: $secondary-dark;
        color: $white;
        border: 0;
        @media (min-width: 1026px) {
            display: none;
        }
    }
}

nav.routers {
    background-color: $white;
    .logo {
        color: $secondary-dark;
    }
    .navigation {
        ul {
            li {
                a {
                    color: $secondary-dark;
                    &.isActive {
                        color: $primary;
                        svg {
                            fill: $primary;
                        }
                    }
                }
                &:hover {
                    a {
                        color: $primary;
                        svg {
                            fill: $primary;
                        }
                    }
                }
            }
        }
    }
    .right-side-buttons {
        button {
            color: $secondary-dark;
            border: 2px solid #d7e3f7;
            &:hover {
                border-color: $secondary;
            }
            &:last-of-type {
                background-color: $primary;
                color: $white;
            }
        }
    }
}

nav.sticky__nav {
    position: fixed;
    top: 0;
    height: 13vh;
    background-color: $white;
    box-shadow: 0 0 8px 0px #00000052;
    transition: 0.2s ease-in-out;
    transform: translateY(-100px);
    .logo {
        color: $secondary-dark;
    }
    .navigation {
        ul {
            @media (max-width: 1024px) {
                top: 67px;
            }
            li {
                a {
                    color: $secondary-dark;
                    &.isActive {
                        color: $primary;
                        svg {
                            display: flex;
                            fill: $primary;
                        }
                    }
                }
                &:hover {
                    a {
                        color: $primary;
                        svg {
                            display: flex;
                            fill: $primary;
                        }
                    }
                }
            }
        }
    }
    .right-side-buttons {
        button {
            color: $secondary-dark;
            border: 2px solid #d7e3f7;
            &:hover {
                border-color: $secondary;
            }
            &:nth-of-type(2) {
                display: none;
            }
            &:last-of-type {
                background-color: $primary;
                color: $white;
            }
        }
    }
}

nav.appear-nav {
    transform: translateY(0px);
}
