@import '../../../Styles/variables.scss';

.header {
    height: calc(100vh - 15vh);
    nav.nav {
        display: flex;
        justify-content: space-between;
        .logo {
            color: $white;
        }
        .navigation {
        }
    }
}
