@import '../../Styles/variables.scss';

.our_services_container {
    padding: 100px 30px;
    .our_services_header {
        padding: 0 100px;
        @media (max-width: 768px) {
            padding: 0 20px;
        }
        .section_head {
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 991px) {
                flex-direction: column;
            }
            .heading {
                flex: 1;
                padding: 0 50px;
                z-index: 1;
                margin-bottom: 40px;
                h2 {
                    font-size: 60px;
                    color: $secondary-dark;
                    line-height: 1;
                    letter-spacing: -3px;
                }
                p {
                    margin-top: 30px;
                    font-weight: 500;
                    color: #666a80;
                }
            }
            .img {
                flex: 1;
                z-index: 1;
                padding: 0 40px 0 0;
                @media (max-width: 768px) {
                    padding: 0;
                }
                img {
                    width: 100%;
                }
            }
        }
        .underline_shape {
            width: 100%;
            transform: scaleY(-1) translateY(140%);
            svg {
                fill: #f2f7ff;
            }
        }
        .underline_style {
            background-color: #f2f7ff;
            height: 150px;
            width: 100%;
            transform: translateY(-50%);
        }
    }
    .statistics {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        justify-content: center;
        .statis {
            display: flex;
            align-items: center;
            flex-direction: column;

            @media (max-width: 768px) {
            }
            text-align: center;
            color: $secondary-dark;
            font-size: 27px;
            padding: 30px 50px;
            h5 {
                margin: 0 30px;
            }
        }
    }
    .fresh_ideas_container {
        padding: 0 40px;
        .fresh_ideas {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f2f7ff;
            padding: 30px 40px;
            @media (max-width: 991px) {
                flex-direction: column;
            }
            .left-side {
                h5 {
                    color: $secondary-dark;
                    font-size: 50px;
                    margin: 20px 0;
                }
                .idea {
                    display: flex;
                    margin-bottom: 20px;
                    font-size: 15px;
                    color: #666a80;
                    font-weight: 500;
                    svg {
                        padding: 0 20px 0 0;
                    }
                }
                a.button__arrows {
                    background-color: $primary;
                    color: $white;
                    span {
                        &::after,
                        &::before {
                            background-image: url('../../assests/images/arrow-white.svg');
                        }
                    }
                }
            }
            .right-side {
                padding: 100px 0;
                display: flex;
                @media (max-width: 768px) {
                    flex-direction: column;
                    margin-bottom: 20px;
                }
                .column {
                    margin: 0 15px;
                    @media (max-width: 768px) {
                        margin-bottom: 20px;
                    }
                    .percentage {
                        position: relative;
                        .backdrop {
                            background-color: #fff;
                            height: 240px;
                            width: 160px;
                            border-radius: 5px;
                        }
                        .frontdrop {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 160px;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                        &.market {
                            .frontdrop {
                                height: 68%;
                                background-color: $secondary-dark;
                            }
                        }
                        &.develop {
                            .frontdrop {
                                height: 56%;
                                background-color: #4772ff;
                            }
                        }
                        &.design {
                            .frontdrop {
                                height: 82%;
                                background-color: $primary;
                            }
                        }
                    }
                    p {
                        &:first-of-type {
                            margin-top: 17px;
                            font-size: 13px;
                            color: #656073;
                            font-weight: 500;
                        }
                        &:last-of-type {
                            color: $secondary-dark;
                            margin-bottom: 10px;
                            font-size: 20px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
