@import '../../Styles/globalStyles.scss';
@import '../../Styles/variables.scss';

nav.nav {
    background-color: $white;
    .logo {
        color: $secondary-dark;
    }
    .navigation {
        ul {
            li {
                a {
                    color: $secondary-dark;
                    &.isActive {
                        color: $primary;
                        svg {
                            color: $primary;
                        }
                    }
                }
                &:hover {
                    a {
                        color: $primary;
                        svg {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
    .right-side-buttons {
        button {
            color: $secondary-dark;
            border: 2px solid #d7e3f7;
            &:hover {
                border-color: $secondary;
            }
            &:last-of-type {
                background-color: $primary;
                color: $white;
            }
        }
    }
}

.about-us-container {
    padding: 100px 30px;
    margin: 0 30px;
    @media (max-width: 768px) {
        padding: 50px 30px;
    }
    .head-image {
        padding: 0 270px 0;
        @media (max-width: 1024px) {
            padding: 0 100px 0;
        }
        @media (max-width: 991px) {
            padding: 0 50px 0;
        }
        @media (max-width: 480px) {
            padding: 0;
        }
        img {
            width: 100%;
        }
    }
    .offer-section {
        background-color: #f2f7ff;
        .shape {
            -webkit-transform: scaleY(-1) translateY(99%);
            -moz-transform: scaleY(-1) translateY(99%);
            transform: scaleY(-1) translateY(99%);
            svg {
                g {
                    fill: #f2f7ff;
                }
            }
        }
        .offers-data {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            padding: 100px 0 180px;
            @media (max-width: 991px) {
                padding: 50px 0 180px;
            }
            @media (max-width: 480px) {
                padding: 0 0 60px;
            }
            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                @media (max-width: 480px) {
                    margin: 30px 0;
                }
                &:hover {
                    .card-img {
                        img {
                            animation: $animationUp;
                        }
                    }
                }
                .card-img {
                    img {
                        width: 100%;
                        animation: $animationDown;
                    }
                }
                .card-body {
                    padding: 27px 35px 0;
                    text-align: center;
                    h5 {
                        font-size: 27px;
                        position: relative;
                        &::after {
                            content: '';
                            position: absolute;
                            height: 2px;
                            width: 30%;
                            left: 0;
                            bottom: -10px;
                            transform: translateX(100%);
                            background: #3e49f3;
                        }
                    }
                }
            }
        }
    }
    .ideas {
        padding: 100px 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 768px) {
            flex-direction: column-reverse;
            padding: 100px 0 0;
        }
        .left-side {
            flex: 1;
            h3 {
                font-size: 50px;
                color: $secondary-dark;
                span {
                    color: $primary;
                }
            }
            p {
                font-size: 15px;
                margin-top: 15px;
                font-weight: 500;
                line-height: 22px;
            }
            a.button__arrows {
                background-color: $primary;
                color: $white;
                span {
                    &::after,
                    &::before {
                        background-image: url('../../assests/images/arrow-white.svg');
                    }
                }
            }
        }
        .right-side {
            flex: 1;
            img {
                width: 100%;
            }
        }
    }
    .professionals {
        padding: 100px 30px;
        @media (max-width: 768px) {
            padding: 50px 0;
        }
        .team-members {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;
            .card {
                position: relative;
                &:hover {
                    .card-body {
                        opacity: 1;
                        .info,
                        .social {
                            transform: translateY(0px);
                        }
                    }
                }
                .card-img {
                    img {
                        width: 100%;
                    }
                }
                .card-body {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: #3e49f3;
                    color: $white;
                    overflow: hidden;
                    opacity: 0;
                    transition: opacity $transition;
                    .info {
                        transform: translateY(-80px);
                        transition: transform $transition;
                        h6 {
                            font-size: 13px;
                            font-weight: 500;
                            margin: 0 0 2px;
                            letter-spacing: 0.02em;
                        }
                        h3 {
                            font-size: 27px;
                            line-height: 1.07em;
                            font-weight: 700;
                            word-wrap: break-word;
                        }
                    }
                    .social {
                        margin-top: 40px;
                        transform: translateY(80px);
                        transition: transform $transition;
                        svg {
                            margin: 6px 10px;
                            padding: 15px;
                            width: 20px;
                            height: 20px;
                            border: 2px solid #3349d3;
                            border-radius: 50%;
                            transition: background-color $transition;
                            &:hover {
                                background-color: #3349d3;
                            }
                        }
                    }
                }
            }
        }
    }
}

.blog {
    padding-bottom: 50px;
    @media (max-width: 768px) {
        .blog-container {
            padding: 50px 30px;
        }
    }
}
