:root {
    --primary-hue: 6;
    --primary-saturation: 100%;
    --primary-light: 61%;
    --primary-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-light));

    --secondary-hue: 233;
    --secondary-saturation: 67%;
    --secondary-light: 42%;
    --secondary-color: hsl(var(--secondary-hue), var(--secondary-saturation), var(--secondary-light));

    --secondary-color-dark: hsl(var(--secondary-hue), calc(var(--secondary-saturation) + 20%), calc(var(--secondary-light) - 17%));

    --gray-hue: 231;
    --gray-saturation: 11%;
    --gray-light: 45%;
    --gray-color: hsl(var(--gray-hue), var(--gray-saturation), var(--gray-light));

    --white-color: #fff;
}

$primary: var(--primary-color);
$secondary: var(--secondary-color);
$secondary-dark: var(--secondary-color-dark);
$gray: var(--gray-color);
$white: var(--white-color);

$footerColor: #cfd3e5;

$transition: 0.5s;

$animationUp: upDownAnimateIcon 0.3s forwards;
$animationDown: downUpAnimateIcon 0.3s forwards;

@keyframes upDownAnimateIcon {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10%);
    }
}

@keyframes downUpAnimateIcon {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10%);
    }
}
