@import '../../../../Styles/variables.scss';

.trustedClients {
    background-color: $primary;
    .sectionHeading .sectionName,
    .sectionHeading .headingParag {
        color: #fff;
    }
    .carousel {
        padding: 0 180px 100px;
    }
}
